@base-color: #57c690;
@font-size-base: 14px;
@font-size-medium: 16px;
@font-size-large: 18px;


//=====header
@header-height: 124px;

//=====nav
@nav-height: 50px;
@nav-item-width: 115px;
@nav-font-size: @font-size-large;
