<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="news-manage <% if (active == 'news'){%> active <%}%>"><a href="/admin/news">新闻管理</a></li>
    <li class="doctors-manage <% if (active == 'doctors'){%> active <%}%>"><a href="/admin/doctors">医生管理</a></li>
    <li class="images-manage <% if (active == 'images'){%> active <%}%>"><a href="/admin/images">图片管理</a></li>
  </ul>
</div>
