html,
body {
  height: 100%;
}
body {
  font-family: 微软雅黑;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.inner-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.btn {
  display: inline-block;
  font-size: 18px;
  width: 170px;
  height: 46px;
  border-radius: 3px;
  background: #5bca92;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 46px;
}
.btn:hover {
  background: #34b372;
}
