<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs%>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> >
            产后服务
          </div>
          <div class="main-content">
            <p class="sub-title">
              产后，女性面临哪些问题？
            </p>
            <p>
              产后的新妈妈们，迎来了自己盼望已久的小生命自然是高兴的。可是在高兴的同时，新妈妈们不得不面对自己身上出现的一些问题。
            </p>
            <img src="/img/产后all.jpg" alt="">
            <p class="sub-title">
              产后恢复，德阳锦江成就完美的您
            </p>
            <p>
              德阳锦江产后康复中心，环境舒适、设备先进，提供产后生理机能恢复、塑身美体、心理疏导、美颜祛斑等产后康复服务，使新妈妈更健康、更美丽。
            </p>
            <img src="/img/方案all.jpg" alt="">
            <p class="sub-title">
              温馨月子会所
            </p>
            <img src="/img/会所-all.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
