<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/content/normalize.css">
    <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
<% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs%>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> >
            产时服务
          </div>
          <div class="main-content">
            <p>
              德阳锦江妇科医院一直致力于研究女性健康问题，以国内一流首席医学专家领衔的高水平技术团队和先进的诊疗设备专注于女性疾病诊治，为保证女性健康打下坚实的基础。德阳锦江妇科医院为您想的更多，分娩套餐如下：
            </p>
            <div class="table">
              <div class="table-title">
                自然分娩套式计划详细列表
              </div>
              <table>
                <thead>
                <tr>
                  <th>
                    类别
                  </th>
                  <th>
                    可能涉及项目
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="no-wrap">
                   收费
                  </td>
                  <td>
                    特价房 xx元
                    <br>
                    小单间自然分娩套餐（三晚） xx元
                    <br>
                    大单间自然分娩套餐（三晚） xx元
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">住宿及膳食</td>
                  <td>三晚房费 /产妇三日营养膳食 /一日五顿营养餐（产妇一人）</td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    分娩期间
                  </td>
                  <td>
                    分娩时的一些列项目：接生费、诊查费、母亲及胎儿监护、产程守护、胎心连续监护、吸氧费、基础用药费、一次性医用耗材费、如有医疗需求包括人工破膜、宫颈注射、宫颈扩张、人工剥离胎盘、产后清宫术、静点缩宫素、手取胎盘、侧切缝合费用、产后用药
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    新生儿
                  </td>
                  <td>
                    新生儿出生后一系列检查及护理：新生儿查房、新生儿吸痰吸氧、保温箱观察两小时、新生儿口腔护理、新生儿眼部护理、新生儿脐部护理、新生儿乙型肝炎育苗及卡介苗的免疫接种、维生素K1的注射、新生儿油浴、新生儿出生后住院期间洗澡、愈脐贴、新生儿听力及足跟血筛查。
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    入院期间
                  </td>
                  <td>
                    胎心监护、护理费、查房费、产妇会阴冲（擦）洗、会阴湿敷、皮下/肌肉注射、静脉注射、静脉抽血、静脉输液、特殊备皮、保留尿管
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    额外收费
                  </td>
                  <td>
                    产前检查、特殊一次性医用材料、孕产妇及婴儿并发症需要抢救、输血、特殊用药费、产后康复治疗、双胎分娩、双胎新生儿护理。
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    产后项目
                  </td>
                  <td>
                    血常规、尿常规、二维彩超
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="table-tip">
                <p>注：</p>
                <ol>
                  <li>大单间包含盆底治疗一次</li>
                  <li>如您有任何疑问，请与客服咨询联系：0838-2555777</li>
                  <li>本表解释权归德阳锦江妇科医院所有</li>
                </ol>
              </div>
            </div>

            <div class="table">
              <div class="table-title">
                剖宫产套餐
              </div>
              <table>
                <thead>
                <tr>
                  <th>
                    特价房
                  </th>
                  <th>
                    小单间剖宫产套餐（五晚）
                  </th>
                  <th>
                    大单间剖宫产套餐（五晚）
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="center">
                  <td>8588元</td>
                  <td>11866元</td>
                  <td>13660元</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table">
              <div class="table-title">
                剖宫分娩套餐式计划详细列表
              </div>
              <table>
                <thead>
                <tr>
                  <th>
                    类别
                  </th>
                  <th>
                    可能涉及项目
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="no-wrap">住宿及膳食</td>
                  <td>五晚房费/ 产妇五日营养膳食/ 一日五顿营养餐（产妇一人）/td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    分娩期间
                  </td>
                  <td>
                    剖宫产手术的一系列项目：多普勒听胎心、剖宫产手术费、麻醉费、一次性医用耗材费、手术护理费、基础用药费、产后用药。
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    新生儿
                  </td>
                  <td>
                    新生儿出生后一系列检查及护理：新生儿查房、新生儿吸痰吸氧、保温箱观察两小时、新生儿口腔护理、新生儿眼部护理、新生儿脐部护理、新生儿乙型肝炎育苗及卡介苗的免疫接种、维生素K1的注射、新生儿油浴、新生儿出生后住院期间洗澡、愈脐贴、新生儿听力及足跟血筛查。
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    入院期间
                  </td>
                  <td>
                    护理费、查房费、产妇会阴冲（擦）洗、会阴湿敷、皮下/肌肉注射、静脉注射、静脉抽血、静脉输液、特殊备皮、保留尿管、腹部切口换药
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    额外收费
                  </td>
                  <td>
                    产前检查、特殊一次性医用材料、孕产妇及婴儿并发症需要抢救、输血、特殊用药费、产后康复治疗、双胎分娩、双胎新生儿护理。
                  </td>
                </tr>
                <tr>
                  <td class="no-wrap">
                    产后项目
                  </td>
                  <td>
                    血常规、尿常规、二维彩超
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="table-tip">
                <p>注：</p>
                <ol>
                  <li>大单间包含盆底治疗一次</li>
                  <li>如您有任何疑问，请与客服咨询联系：0838-2555777</li>
                  <li>本表解释权归德阳锦江妇科医院所有</li>
                </ol>
              </div>
            </div>

            <p>
              德阳锦江妇科医院推行一切以病人为中心的经营理念，奉献高度的社会责任感，服务精确化、人性化，努力为德阳女性创造健康安全的医疗环境。
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<% include ../../common/footer2.ejs %>
<script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
