<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/content/normalize.css">
    <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
<% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content full clearfix">
        <div class="right">
          <div class="main-content">
            <p>
              德阳锦江妇科医院是一家专注于为广大妇女儿童提供高品质产科、妇科及新生儿科服务的专业妇产医院。医院秉承“尊重生命、尊贵女人”的真谛，以爱为核心价值，以客户为中心，倡导白领精英女性健康维养的终生健康管理观念，推行最先进的服务模式，始终以“享受生产，快乐分娩”为服务目标，以“妈妈幸福，宝宝健康”为服务宗旨。通过多功能、全方位、人性化的服务，为女性健康护航，引领德阳市高端妇产医院潮流。
              <a href="/category/keshijieshao/chankejieshao">查看详情</a>
            </p>
            <div class="block left-side">
              <div class="block-title">
                孕前服务
              </div>
              <div class="block-content">
                德阳锦江妇科医院是一家专注于为广大妇女儿童提供高品质产科、妇科及新生儿科服务的专业妇产医院。医院秉承“尊重生命、尊贵女人”的真谛，以爱为核心价值，以客户为中心，倡导白领精英女性健康维养的终生健康管理观念，推行最先进的服务模式，始终以“享受生产，快乐分娩”为服务目标，以“妈妈幸福，宝宝健康”为服务宗旨。通过多功能、全方位、人性化的服务，为女性健康护航，引领德阳市高端妇产医院潮流。
              </div>
              <div >
                <a href="/category/keshijieshao/yunqianfuwu" class="block-btn">
                  进入孕前服务 >>
                </a>
              </div>
            </div>
            <div class="block">
              <div class="block-title">
                孕期服务
              </div>
              <div class="block-content">
                德阳锦江妇科医院是一家专注于为广大妇女儿童提供高品质产科、妇科及新生儿科服务的专业妇产医院。医院秉承“尊重生命、尊贵女人”的真谛，以爱为核心价值，以客户为中心，倡导白领精英女性健康维养的终生健康管理观念，推行最先进的服务模式，始终以“享受生产，快乐分娩”为服务目标，以“妈妈幸福，宝宝健康”为服务宗旨。通过多功能、全方位、人性化的服务，为女性健康护航，引领德阳市高端妇产医院潮流。
              </div>
              <div >
                <a href="/category/keshijieshao/yunqifuwu" class="block-btn">
                  进入孕期服务 >>
                </a>
              </div>
            </div>
            <div class="block left-side">
              <div class="block-title">
                产时服务
              </div>
              <div class="block-content">
                德阳锦江妇科医院是一家专注于为广大妇女儿童提供高品质产科、妇科及新生儿科服务的专业妇产医院。医院秉承“尊重生命、尊贵女人”的真谛，以爱为核心价值，以客户为中心，倡导白领精英女性健康维养的终生健康管理观念，推行最先进的服务模式，始终以“享受生产，快乐分娩”为服务目标，以“妈妈幸福，宝宝健康”为服务宗旨。通过多功能、全方位、人性化的服务，为女性健康护航，引领德阳市高端妇产医院潮流。
              </div>
              <div >
                <a href="/category/keshijieshao/chanshifuwu" class="block-btn">
                  进入产时服务 >>
                </a>
              </div>
            </div>
            <div class="block">
              <div class="block-title">
                产后服务
              </div>
              <div class="block-content">
                德阳锦江妇科医院是一家专注于为广大妇女儿童提供高品质产科、妇科及新生儿科服务的专业妇产医院。医院秉承“尊重生命、尊贵女人”的真谛，以爱为核心价值，以客户为中心，倡导白领精英女性健康维养的终生健康管理观念，推行最先进的服务模式，始终以“享受生产，快乐分娩”为服务目标，以“妈妈幸福，宝宝健康”为服务宗旨。通过多功能、全方位、人性化的服务，为女性健康护航，引领德阳市高端妇产医院潮流。
              </div>
              <div >
                <a href="/category/keshijieshao/chanhoufuwu" class="block-btn">
                  进入产后服务 >>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% include ../../common/footer2.ejs %>
<script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
