<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav%>/<%= subNav%>">孕前服务</a> >
            女性做孕前检查都有哪些项目
          </div>
          <div class="main-content">
            <p class="sub-title">
              女性做孕前检查都有哪些项目
            </p>
            <p>
              德阳锦江妇科医院专家提醒：孕前检查对于遗传优生有着非常重要的作用，因此想要生育的女性为了将来能生下一个健康聪明的孩子，最好在怀孕前到医院做相关检查。不过，由于孕前检查与普通妇科检查有一些区别，所以不少女性对于具体检查项目不了解。接下来，就为大家做相关介绍。
            </p>
            <p class="sub-title-small"> 女性孕前体格检查项目 </p>
            <p class="sub-title-small"> 一、外阴部检查： </p>
            <p>
              正常外阴，阴毛呈尖端向下，三角形分布，大阴唇色素沉着，小阴唇微红，会阴部位无溃疡、皮炎、赘生物及色素减退，阴蒂长度<2.5cm，尿道口周围粘膜淡粉色，无赘生物。已婚妇女处女膜有陈旧性裂痕，已产妇处女膜及会阴处均有陈旧性裂痕或会阴部可有倒切伤痕。必要时有时医生会嘱患者向下屏气，观察有无阴道前后壁膨出、子宫脱垂或尿失禁等。如有病变，医生在描述时多为“已婚式”或“已产式”，如有异常会详细记录。 </p>
            <p class="sub-title-small"> 二、阴道检查： </p>
            <p>
              阴道壁粘膜色泽淡粉，有皱襞，无溃疡、赘生物、囊肿、阴道隔及双阴道等先天畸形。正常阴道分泌物呈蛋清样或白色糊状，无腥臭味，量少，但于排卵期及妊娠期增多。如有异常，患者会出现相应临床症状，即局部瘙痒、烧灼感等，医生会详细记录，并予以化验。 </p>
            <p class="sub-title-small"> 三、宫颈检查： </p>
            <p>
              正常宫颈周边隆起，中间有孔。未产妇呈圆形，已产妇呈“一”字形，质韧，肉红色，表面光滑。如检查时正常，则指的是，光、质中、无痒痛等等。如发现异常，则会详细描述糜烂的分度(轻、中、无)，宫颈肥大的程度，以及赘生物的大小、位置等。 </p>
            <p class="sub-title-small"> 四、子宫及附件检查： </p>
            <p>
              正常子宫呈倒梨形，长7～8cm，宽4～5cm，厚2～3cm，多数呈前倾前屈位，质地中等硬度，活动度好。卵巢及输卵管合称“附件”。正常卵巢偶可扩及致3×2×1cm3大小，可活动，触之略有酸胀感。正常输卵管不能触及。若为“中位”或“后位”子宫，如临床无明显症状，亦无大碍。 </p>
            <p class="sub-title-small"> 女性孕前辅助检查项目 </p>
            <p class="sub-title-small"> 1.血常规： </p>
            <p>
              可以及早发现贫血等血液系统疾病。如果母亲贫血，不仅会出现产后出血、产褥感染等并发症，还会使宝宝抵抗力下降、容易感染、生长发育落后。其次，明确了母亲的血型，还可以警惕新生儿溶血病的发生，尤其是ABO溶血和RH溶血。 </p>
            <p class="sub-title-small"> 2.尿常规： </p>
            <p> 有助于肾脏疾患早期的诊断。十个月的孕期对于母亲的肾脏系统是一个巨大的考验，身体的代谢增加，会使肾脏的负担加重。 </p>
            <p class="sub-title-small"> 4.肝功能、两对半: </p>
            <p> 有助于各型肝炎、肝脏损伤诊断。如果母亲是病毒性肝炎患者，没有及时发现，怀孕后会造成早产，甚至新生儿死亡。乙型肝炎病毒还可垂直传播给孩子。 </p>
            <p class="sub-title-small"> 5.胸部透视/摄片: </p>
            <p> 有助于结核病等肺部疾病诊断。患有结核的女性怀孕后，用药会受到限制，影响治疗。而且，活动性的结核常会因为产后劳累而加重病情，并有传染给孩子的危险。 </p>
            <p class="sub-title-small"> 6.妇科内分泌全套: </p>
            <p> 有助于各种卵巢疾病的诊断。例如患卵巢肿瘤的女性，即使肿瘤为良性，怀孕后常常也会因为子宫的增大，影响对肿瘤的观察，甚至导致流产、早产。 </p>
            <p class="sub-title-small"> 7.白带常规: </p>
            <p> 有助于滴虫、霉菌、细菌感染的筛查。如果患有性传播疾病，最好先进行彻底治疗，然后再怀孕，否则会引起流产、早产、胎膜早破等不良后果。 </p>
            <p class="sub-title-small"> 8.超声、心电图: </p>
            <p> 有助于对机体做一个初步的了解，是否有异常，可以早期发现问题，解决问题。 </p>
            <p> 德阳锦江妇科医院专家提醒广大女性朋友：想要做孕检的女性朋友，为了保证检查结果的准确性，一定要到正规医院做检查。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
