<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav %>/<%= subNav %>">孕前服务</a> >
            如何把握孕前检查的最佳时间呢
          </div>
          <div class="main-content">
            <p class="sub-title"> 如何把握孕前检查最佳时间呢? </p>
            <p>
              现如今，很多家庭都希望可以生出优质宝宝。但是优质的宝宝离不开健康的受精卵。而受精卵健康的前提就是父母双方都拥有健康的身体，否则就可能出现胎儿畸形或者发育不良。因而进行孕前检查是必不可少的，但需要掌握好孕前检查的最佳时间。那么如何把握孕前检查最佳时间呢？ </p>
            <p class="sub-title-small"> 孕前检查的最佳时间 </p>
            <p>
              德阳锦江妇科医院专家指出，孕前检查不同于常规体检，它们存在质的区别，它是关于生殖系统和遗传因素的针对性检查，需要夫妻双方同时进行。一般说来，孕前检查需要在备孕计划开始前的3——6个月内进行，且全套检查项目缺一不可，女性不能顾此失彼，也不要陷入配偶无需检查的误区。 </p>
            <p class="sub-title-small"> 做孕前检查有哪些注意事项 </p>
            <p>
              女性：对于女性而言，孕前检查中包含有妇科检查，而做妇科检查的最佳时间是在月经彻底干净的3——7天之内进行，并保证检查前不能同房。做尿常规时，女性应搜集少许早晨起床第一次排的尿液，以备化验时用。另外，因为有些检查项目需要空腹，检查当天准妈妈不能进食，也不要喝水及奶制品，以免影响检查结果。 </p>
            <p>
              男性：想要保证优生优育，就得明确男性精子是否健康，是否存在无精症，而该项检查的最佳时间应在同床后的2——7天内，一旦发现异常需及时进行干预治疗。需要注意的是，虽然孕前检查结果显示健康，但准爸爸如果有吸烟、喝酒、熬夜等陋习，应该要尽早接触，以免影响未来胎儿健康。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
