<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav %>/<%= subNav %>">孕前服务</a> >
            生二胎还需要再做孕前检查吗
          </div>
          <div class="main-content">
            <p class="sub-title"> 生二胎还需要再做孕前检查吗? </p>
            <p>
              自十八届五中全会“二胎”政策的出台，社会各界对这个政策持有不同的看法。有的觉得这是一个好的政策，可以再继续追生一个，让自己的孩子有一个伴；也有的认为现在的社会压力太大，觉得如果再生二胎只会增加再大压力，所以不敢再追生二胎。专家建议：生二胎不仅要考虑社会问题、经济条件，还要考虑女性本身的身体条件适不适合再怀孕生产。 </p>
            <p>
              专家指出：政策未开放前，医院就有很多高龄产妇，除了与正常孕妇一样要注意日常的饮食外，系统的产检更重要，如唐筛、羊水穿刺等指标都是需要特别注意的。所以女性有生二胎的意愿，起码要提前半年到医院做相关检查和评估，不可忽视孕前检查和产前检查。 </p>
            <p>
              二胎的政策出台之后，一些符合条件的夫妻已经开始做起了孕前准备，有的已经开始服用叶酸了。对于这个准备，专家指出，单单服用叶酸是不够的，生二胎最重要的还是要做孕前检查，确保自己和丈夫的身体是适合生二胎的。特别是有不良生育史或者剖宫产的女性，在生育二胎前更要做好相应的检查。 </p>
            <p class="sub-title-small"> 生二胎之前要做如下孕前检查： </p>
            <p class="sub-title-small"> 一、没有不良生育史，第一个宝宝是的健康状况良好的： </p>
            <p>1、需要检查的包括是否感染乙肝、丙肝、梅毒、艾滋病病毒，因为这些都是可以通过胎盘传给宝宝的。</p>
            <p>2、此外，还要进行风疹、巨细胞、弓形虫、单独疱疹等病毒的检查，因为如果在孕早期感染这些病毒。</p>
            <p>有可能致畸。如果体内没有风疹病毒抗体，最好在孕前半年接种风疹疫苗，预防孕期感染。</p>
            <p> 3、还要检查生殖系统情况，看看是否有炎症、子宫肌瘤、卵巢肿瘤等。</p>
            <p class="sub-title-small"> 二、曾经生育过不健康孩子： </p>
            <p>
              首先应明确上一个孩子的病因是否有遗传性，如果是遗传代谢病或者染色体基因病等，可以在此次孕期进行产前诊断，孕早期绒毛活检和孕中期羊水穿刺都是可以选择的方法，“以防又生出一个不健康的孩子。”如果年龄已经满35岁，虽然没有过不良产史，但由于高龄造成胎儿染色体异常的风险明显增加，也应该在孕期做产前诊断。</p>
            <p>
              专家温馨提示：考虑到二胎妈妈往往年龄较大，合并有高血压、糖尿病、慢性肾病、红斑狼疮、心脏病的人比较多。这些女性怀孕后病情往往会加重，很难坚持到足月生产，因此也应该在孕前做好咨询和检查。有合并症的孕妇在进行孕期保健时，最好要选择医疗水平比较高的医疗机构就诊。我国的剖宫产率比较高，对于第一个孩子选择剖宫产方式生育的女性，生第二个孩子时，就会麻烦一点，“怀孕后就要立刻到医院确认，看看受精卵是不是长在剖宫产瘢痕的位置上，如果是的话，必须要终止妊娠。”同时有剖宫产史的妇女在下次妊娠中发生前置胎盘、胎盘植入、子宫破裂等的风险也明显增高。 </p>
            <p>生二胎还需要再做孕前检查吗？以上就是德阳锦江妇科医院专家对于这个问题的详细介绍，希望对大家有帮助。如想了解更多，欢迎点击咨询在线专家或者拨打健康热线：0838-2555777,权威专家会一一为您解答。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
