<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav %>/<%= subNav %>">孕前服务</a> >
            生二胎还需要再做孕前检查吗
          </div>
          <div class="main-content">
            <p class="sub-title"> 想要怀孕第一步“孕前检查” </p>
            <p> 近日，有一对年轻的夫妇在网上咨询，在没有避孕的情况下同房三个月，但是一直都没有怀孕，在德阳锦江妇科医院专家的询问下，才发现这对想要孩子的夫妇没有做充足的孕前检查，不清楚自己是否适合怀孕。 </p>
            <p> 专家表示，孕前检查是顺利怀孕的第一步，也是优生优育的重要步骤。在计划怀孕前做好孕期检查，可及早了解到男女双方在家族遗传病，双方身体能否受孕、女方身体情况是否适合怀孕等。 </p>
            <p class="sub-title-small"> 孕前检查 要把握时间 </p>
            <p> 生育并不是女性单方面的责任， 男女双方都要接受孕前检查。从现代医学保健角度来看，一般建议在孕前3-6个月开始做检查，女方的孕前检查最好在月经干净后3-7天内进行，检查前避免同房。 </p>
            <p class="sub-title-small"> 检查项目男女“有别” </p>
            <p> 根据男女双方的身体结构不一样，男性和女性的孕前检查都有别。 </p>
            <p class="sub-title-small"> 女性孕前检查主要包括： </p>
            <p> 常规的血液检查：通过此项检查能够知道血红素的高低情况、血小板的数值、血红球的大小等，可有助及早发现贫血症、地中海贫血等疾病，经治愈后才能受孕。 </p>
            <p>生殖系统检查：检查是否有妇科疾病，如患有性传播疾病，最好先彻底治疗，然后再怀孕，否则会引起流产、早产等危险。 </p>
            <p>
              肝功能检查：此项分为大小功能两种，大肝功能除了乙肝全套外还包括血糖、胆汁酸等项目。另外乙型肝炎本身是不对会胎儿造成影响的，即便母体是乙型肝炎抗原携带者或者是高传染性者，只要在于宝宝降临后立即打免疫球蛋白保护也是可以的。</p>
            <p>
              优生5项：检查时间为孕前三个月，所有适龄女性都要在孕前去做TORCH检查，尤其是养宠物的女性，更是不能省略这一项孕前检查。60%-70%的女性都会感染上风疹病毒，一旦感染，特别是妊娠头三个月，会引起流产和胎儿畸形。 </p>
            <p> 除了以上主要项目外，还包括妇科内分泌检查、尿常规、口腔检查、染色体异常等检查，一些项目的细节可以到德阳锦江妇科医院咨询清楚。 </p>
            <p class="sub-title-small"> 男性孕前检查项目主要包括： </p>
            <p> 精液常规检查：检查精子的性状、存活率、活动力、计数等，主要检测女性是否能达到怀孕要求，是实现怀孕的先决条件。 </p>
            <p> 泌尿系统检测：通过阴茎、尿道、前列腺、睾丸等的检查看是否存在影响生育的生殖系统疾病。 </p>
            <p> 另外，男性孕前检查项目还包括内分泌激素检查血常规，血糖，肝功能，染色体，衣原体支原体等。 </p>
            <p>
              以上是关于“孕前检查项目及时间”的内容，德阳锦江妇科医院专家提醒，具体的检查项目还是要结合个人的情况来定。另外，除了做好孕前检查，要顺利怀孕还是得靠男女双方在备孕期间保持积极的心理状况、良好的生活习惯，在多方面的努力下，才能让宝宝健康出生哦。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
