<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav %>/<%= subNav %>">孕前服务</a> >
            孕前检查的注意事项？
          </div>
          <div class="main-content">
            <p class="sub-title"> 孕前检查的注意事项？</p>
            <p>
              孕前检查有必要吗？哈尔滨维多利亚妇产医院专家告诉我们，孕前检查有必要，而且是非常非常的有必要。因为孕前检查可以检查出夫妻双方的健康成度，看是否有什么传染病以及对胎儿不利的一些不健康的因素，虽说这种患病几率很小，但是为了宝宝的健康成长，为了人人都能孕育出健康的宝宝，建议计划怀孕的夫妻，一定要做好孕前检查。</p>
            <p class="sub-title-small"> 【专家解析】女性孕前检查的注意事项？ </p>
            <p> 1.很多抽血化验项目是需要空腹的，所以请不要吃早餐，但是可以带上，抽完血后进食。</p>
            <p>2.B超检查，膀胱内需要一定量的小便。</p>
            <p>3.妇科检查时需排空小便。</p>
            <p>4.拍片身上不能带含有金属的东西。</p>
            <p>5.避开月经期，体检前一天休息好，保证精力充沛。</p>
            <p class="sub-title-small"> 专家解析】男性孕前检查的注意事项？ </p>
            <p>1.孕前检查前最好洗澡</p>
            <p>2.抽血要空腹，因此检查前一天晚饭后不要在吃东西，保证在抽血前空腹8小时以上。</p>
            <p>3.需禁欲二到七天做精液常规检查。</p>
            <p>4.检查前三天不要抽烟喝酒，不要吃油腻、糖分高的食物。</p>
            <p>正所谓“知己知彼，方能百战不殆”，优生优育首先就要了解自身的生殖能力，孕前检查必不可少，因此男女双方一定要做好孕前检查工作，为生健康宝宝做好充分准备。
              以上就是德阳锦江妇科医院专家对于这个问题的详细介绍，希望对大家有帮助。如想了解更多，欢迎点击咨询在线专家或者拨打健康热线：0838-2555777,权威专家会一一为您解答。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
