<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/content/normalize.css">
    <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
<% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs%>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> >
            孕前服务
          </div>
          <div class="main-content">
            <p class="sub-title">
              为什么要做孕前检查
            </p>
            <p>
              我们都知道孕前检查只是为了确保胎儿更健康的发育，但是一些未准爸妈们却不怎么认识？觉得孕前检查只是一个形式，也认识自己的身体很健康，检不检查都无所谓。而这种想法却是大错特错。
            </p>
            <img src="/img/产科通用长图.jpg" alt="">
            <p class="sub-title-small">
              孕前检查必要性一：
            </p>
            <p>
              在我国人群中，先天性智力障碍者已达3000万，且每年以2%的比例增长。我国平均每20分钟就要出生1个先天愚型儿，每6分钟将出生1个神经管畸形儿,每年仅神经管畸形造成的直接经济损失就超过两亿元。
            </p>
            <p class="sub-title-small">
              孕前检查必要性二：
            </p>
            <p>
              我国每年的新生儿出生缺陷率加上0～14岁期间出现的先天残疾率共为4%～6%。这就意味着我国每年新增先天残疾儿童80万～120万。
            </p>
            <p class="sub-title-small">
              孕前检查必要性三：
            </p>
            <p>
              如果家族中有明显的遗传病人，人们在生育小孩时就会注意这方面的检查，自觉地向医生咨询。然而，有的父母跟正常人的表现一样，却是某种遗传病基因的携带者，虽然自身没有发病，但很有可能将这一遗传病传给他们下一代。目前，遗传病患儿一旦出生后，还没有很好的手段可以根治。所以，遗传病重在预防，我们要采取各种检查手段，以杜绝遗传病患儿的出生。
            </p>
            <p>
              很多新婚夫妇由于各种原因，婚后并没有马上要小孩。夫妻俩在婚检时一切正常，但到妻子怀孕时往往已间隔一段时间，此时夫妻俩的健康已有变化。有些孕妇查出问题时已到妊娠晚期，保胎儿还是引产，往往进退两难。
            </p>
            <p>
              所以，德阳锦江妇科医院提醒您，想要一个健康宝宝，千万不要有侥幸的心理或不在乎的心情，为了您宝宝的将来，请积极的加入到孕前检查的队伍里。
            </p>
            <img src="/img/产科通用长图.jpg" alt="">
            <p class="sub-title">
              哪些人群需要做孕前检查
            </p>
            <ul>
              <li>未做过婚检的育龄夫妇。</li>
              <li>夫妇双方或一方有遗传病史、家族遗传病史、慢性疾病、传染病的。</li>
              <li>夫妇双方工作生活中接触不良因素，如接触放射性物质、化学农药、有害环境等。</li>
              <li>有不良产史的夫妇，如人流、药流、自然流产、智力低下儿等。</li>
              <li>未接种过乙肝疫苗的夫妇。</li>
              <li>有不良生活习惯的夫妇，如长期吸烟、酗酒、药物成瘾、偏食等。</li>
            </ul>
            <p class="sub-title">
              孕前检查应该怎么做
            </p>
            <p>
              现在一个家庭都只生育一个子女，所以对涉及到宝宝的各个阶段都十分重视。其中孕前体检就是比较重要的一个环节。为了保证能生育一个健康、聪明的宝宝，父母在生育之前就需要做一系列的相关检查，确保自己身体状态后才进行受孕过程。如果你希望生一个健康聪明的宝宝，就需要对夫妻双方的身体状况都有一个全面的了解。众所周知，健康宝宝首先必须是健康的精子和卵子结合的结晶。下面就来给大家分享一下孕前体检的相关经验。
            </p>
            <img src="/img/产科通用长图.jpg" alt="">
            <p class="sub-title-small">
              步骤/方法
            </p>
            <p>
              孕前常规身体检查不同于一般的常规检查。孕前检查主要更侧重于检测夫妻双方的生殖器官和体内激素水平的健康状况，辅之以肝、肾功能、血常规、尿常规、心电图等等最基本的身体检查项目。
            </p>
            <p>
              女性重点检查项目包括：口腔检查，孕妇的口腔健康直接影响婴幼儿的口腔健康，如果孕期出现口腔问题，将直接对胎儿产生影响。TORCH检测，生殖激素检测，彩色B超，主要是对子宫，及附件的检测。检查的目的主要排除宫外孕的可能。像有子宫肌瘤、卵巢肿瘤、子宫内膜异位等妇科疾病容易引起宫外孕。
            </p>
            <p class="sub-title-small">
              德阳锦江妇科医院专家温馨提醒：
            </p>
            <ul>
              <li>孕前常规检查夫妻都要认真地进行每一项检查。千万不要认为准爸爸的孕前身体检查无关紧要。</li>
              <li>体检前一天休息好，保证精力充沛。</li>
              <li>体检当天清晨禁食、禁奶制品。</li>
              <li>女性避开月经期。</li>
            </ul>
            <p class="sub-title">
              德阳锦江孕前检查6大优势
            </p>
            <img src="/img/产科通用长图.jpg" alt="">
            <p class="sub-title-small">
              孕育风险评估
            </p>
            <p>
              孕育专家根据孕育健康聪明宝宝的必备身心条件，制定了孕育风险评估问卷。根据夫妻填写的问卷，孕育专家会评估出育龄夫妻的身体健康指数、怀孕指数、胎儿畸形指数。
            </p>
            <p class="sub-title-small">
              个性化孕检套餐
            </p>
            <p>
              孕前检查不同于常规体检，主要是针对生殖系统和遗传因素所做的检查。根据备孕夫妇的类型，德阳锦江制定了各种个性化的孕前优生体检套餐。
            </p>

            <p class="sub-title-small">
              专家健康助孕
            </p>
            <p>
              孕育专家从饮食、健身、心理三方面对备孕夫妇进行备孕指导，为他们量身定制最佳备孕方案，帮助备孕夫妇孕育一个健康聪明的宝宝。
            </p>

            <p class="sub-title-small">
              一对一优生咨询
            </p>
            <p>
              孕育专家一对一问诊，包括各类孕前遗传疾病和遗传问题的诊断、咨询，并就个体的优生遗传咨询提供专业指导，最大限度降低先天缺陷儿的出生。
            </p>

            <p class="sub-title-small">
              优质特色服务
            </p>
            <p>
              致力于打造“绿色环保”家庭式全程贴身管家式医疗服务体系，并践行国际先进管理理念，引入FCWI全程化国际妇产医疗模式。专业医疗，传递爱心呵护。
            </p>
            <p class="sub-title-small">
              完善的医疗档案
            </p>
            <p>
              检查完毕后，经验丰富的孕育专家会对您的各项检查进行汇总分析，针对性给予孕前指导及咨询，并为建立完善的医疗档案，为产前检查和分娩提供依据。
            </p>

            <p class="sub-title">
              孕前检查之后怎么办
            </p>
            <p class="sub-title-small">
              检查结果正常，该如何备孕？
            </p>
            <p>
              您良好的生活习惯和身体状况只是优生优育的第一步，必要的产前检查也必不可少，据资料显示，中国每年有80-120万出生缺陷儿，准妈妈们，做好产前检查，让宝宝们有备而来。
            </p>
            <div class="img-group clearfix">
              <a href="#">
                <img src="/img/四维彩超.png" alt="">
              </a>
              <a href="#">
                <img src="/img/孕期检查.png" alt="">
              </a>
            </div>
            <p class="sub-title-small">
              检查结果不正常，该如何备孕？
            </p>
            <p>
              您目前的状况有待改善，考虑内分泌和生育能力方面是否需要进行进一步检查，为了更快更好地怀上宝宝，您可以选择进一步检查，找出病因，进行针对性治疗。
            </p>
            <div class="img-group clearfix">
              <a href="#">
                <img src="/img/治不孕.png" alt="">
              </a>
              <a href="#">
                <img src="/img/输卵管不孕.png" alt="">
              </a>
            </div>
            <p class="sub-title">
              孕前知识
            </p>
            <div class="link-list">
              <a href="/category/keshijieshao/nvzy">女性做孕前检查都有哪些项目>></a>
              <a href="/category/keshijieshao/rhbw">如何把握孕前检查的最佳时间呢>></a>
              <a href="/category/keshijieshao/seth">生二胎还需要再做孕前检查吗>></a>
              <a href="/category/keshijieshao/xyhy">想要怀孕的第一步>></a>
              <a href="/category/keshijieshao/yqjc">孕前检查的注意事项>></a>
              <a href="/category/keshijieshao/zbb">准爸爸妈妈体检套餐>></a>
              <a href="/category/keshijieshao/zlhj">做了婚检还要做孕前检查吗>></a>
              <a href="/category/keshijieshao/zyqj">做孕前检查是优生的重要前提>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% include ../../common/footer2.ejs %>
<script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
