<!doctype html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/content/normalize.css">
  <link rel="stylesheet" href="/css/content/content-page.css">
</head>
<body>
<div class="container">
  <% include ../../common/header2.ejs %>
  <div class="main">
    <div class="inner-container">
      <div class="page-title">
        产科中心 <span class="sub">MATERNITY CENTER</span>
      </div>

      <div class="content clearfix">
        <div class="left">
          <% include ../../common/sidebar_ksjs.ejs %>

        </div>
        <div class="right">
          <div class="crumbs">
            <a href="/">首页</a> >
            <a href="/category/<%= nav %>">产科中心</a> > <a href="/category/<%= nav %>/<%= subNav %>">孕前服务</a> >
            做了婚检还要做孕前检查吗
          </div>
          <div class="main-content">
            <p class="sub-title"> 做了婚检还要做孕前检查吗 </p>
            <p>有不少备孕夫妻都有这样的疑问：结婚前已经做过检查了，为什么还要做生育检查？其实，这两者的检查重点是不一样的！由于在侧重点上有区别，所以他们检查的项目不尽相同。下面请看德阳锦江妇科医院专家的详细介绍。</p>
            <p>专家表示，婚检是不能代替孕前检查的，首先，两项检查的目的不同；其次，两项检查的项目不一样。</p>
            <p>
              进行婚检的主要目的是为了保证婚姻的美满和幸福，同时避免出现不健全下一代的情况。而孕前检查最主要的目的是为了健康宝宝做准备，检查夫妻双方的健康状况，看是否适合进行目前的宝宝计划，同时，筛查各种疾病，及早采取措施预防和治疗。</p>
            <p>此外，婚检主要包括了一般的常规健康检查和遗传疾病筛查等项目，而孕前检查不仅涵盖了婚前体检的各类项目，同时，还包括了其他各项检查。</p>
            <p>另外，由于很多新婚夫妇婚后并没有马上要宝宝，夫妻双方在婚检时一切正常，但到怀孕时已间隔一段时间，此时夫妻俩的健康状况有可能已经发生了变化。因此，孕前检查是非常有必要的。</p>
            <p>通过孕前检查，可以及时了解夫妻双方的健康状况，及早发现各种健康问题，及时采取预防和治疗措施。</p>
            <p>
              做了婚检还要做孕前检查吗？通过上面的介绍，答案不言而喻。既然要做孕前检查，选择专业的检查机构是非常有必要的。如想了解更多，欢迎点击咨询在线专家或者拨打健康热线：0838-2555777,权威专家会一一为您解答。 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../../common/footer2.ejs %>
  <script type="text/javascript" src="/js/content/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/js/content/common.js"></script>
</body>
</html>
