#banner-image.carousel.slide(data-ride='carousel', data-interval='false')
  ol.carousel-indicators
    li.active(data-target='#banner-image', data-slide-to='0')
    li(data-target='#banner-image', data-slide-to='1')
    li(data-target='#banner-image', data-slide-to='2')
    li(data-target='#banner-image', data-slide-to='3')
  .carousel-inner(role='listbox')
    .item.active
      img(src='/img/banner1.jpg')
    .item
      img(src='/img/banner1.jpg')
    .item
      img(src='/img/banner1.jpg')
    .item
      img(src='/img/banner1.jpg')
