h3 专家介绍
.person-details
  .portrait.pull-left
    img(src='/img/doctor1.jpg')
  .infos
    .line
      .name.chinese 景艳辉
      .title 硕士研究生, 副主任医师
    .line
      .name.pinyin Jingyanhui
    .separator
    .experience
      h4 主要履历:
      .content 景艳辉，男，1975年出生，硕士研究生，副主任医师，从医十余年，原四川省甲级重点专科、绵阳市妇产科中心,绵阳市人民医院妇产科医疗组长，绵阳市涪城区医疗治疗控制委员会专家，曾在沈阳医科大学附属第一医院及北京解放军总院学习交流。妇产科专家，对高危妊娠包括内外科疾病合并妊娠、妊娠期和分娩期并发症的处理有较高水平，擅长围产医学，难产，分娩镇痛，切口美容等方面的研究，对产科疑难杂症处理有独到之处，在全国性刊物发表论文数篇。荣获涪城区卫生系统“十大模范党员”“优秀共产党员”“绵阳市妇幼卫生服务工作先进个人”等称号，连续多年评为绵阳市人民医院“优秀共产党员、先进个人、优秀带教教师”。
    .line.buttons
      button.btn.btn-primary 了解更多
      button.btn.btn-primary 在线咨询
.experts-list
  .scroll-wrapper
    .doctors.line(data-current-start='0')
      .doctor
        img(src='/img/doctor1.jpg')
        .desc
          .text-center 景艳辉
          .text-center 副主任医师
      .doctor
        img(src='/img/doctor1.jpg')
        .desc
          .text-center 景艳辉
          .text-center 副主任医师
      .doctor
        img(src='/img/doctor1.jpg')
        .desc
          .text-center 景艳辉
          .text-center 副主任医师
      .doctor
        img(src='/img/doctor1.jpg')
        .desc
          .text-center 景艳辉
          .text-center 副主任医师
    .scroll-button.prev-button
    .scroll-button.next-button
