<h3>专家介绍</h3>
<div class="person-details">
  <div class="portrait pull-left"><img src="/img/doctor1.jpg"/></div>
  <div class="infos">
    <div class="line">
      <div class="name chinese">景艳辉</div>
      <div class="title">硕士研究生, 副主任医师</div>
    </div>
    <div class="line">
      <div class="name pinyin">Jingyanhui</div>
    </div>
    <div class="separator"></div>
    <div class="experience">
      <h4>主要履历:</h4>
      <div class="content">景艳辉，男，1975年出生，硕士研究生，副主任医师，从医十余年，原四川省甲级重点专科、绵阳市妇产科中心,绵阳市人民医院妇产科医疗组长，绵阳市涪城区医疗治疗控制委员会专家，曾在沈阳医科大学附属第一医院及北京解放军总院学习交流。妇产科专家，对高危妊娠包括内外科疾病合并妊娠、妊娠期和分娩期并发症的处理有较高水平，擅长围产医学，难产，分娩镇痛，切口美容等方面的研究，对产科疑难杂症处理有独到之处，在全国性刊物发表论文数篇。荣获涪城区卫生系统“十大模范党员”“优秀共产党员”“绵阳市妇幼卫生服务工作先进个人”等称号，连续多年评为绵阳市人民医院“优秀共产党员、先进个人、优秀带教教师”。</div>
    </div>
    <div class="line buttons">
      <button class="btn btn-primary">了解更多</button>
      <button class="btn btn-primary">在线咨询</button>
    </div>
  </div>
</div>
<div class="experts-list">
  <div class="scroll-wrapper">
    <div data-current-start="0" class="doctors line">
      <div class="doctor"><img src="/img/doctor1.jpg"/>
        <div class="desc">
          <div class="text-center">景艳辉</div>
          <div class="text-center">副主任医师</div>
        </div>
      </div>
      <div class="doctor"><img src="/img/doctor1.jpg"/>
        <div class="desc">
          <div class="text-center">景艳辉</div>
          <div class="text-center">副主任医师</div>
        </div>
      </div>
      <div class="doctor"><img src="/img/doctor1.jpg"/>
        <div class="desc">
          <div class="text-center">景艳辉</div>
          <div class="text-center">副主任医师</div>
        </div>
      </div>
      <div class="doctor"><img src="/img/doctor1.jpg"/>
        <div class="desc">
          <div class="text-center">景艳辉</div>
          <div class="text-center">副主任医师</div>
        </div>
      </div>
    </div>
    <div class="scroll-button prev-button"></div>
    <div class="scroll-button next-button"></div>
  </div>
</div>
