h3 专家介绍
.person-details
  .portrait.pull-left
    img(src='/img/6.png')
  .infos
    .line
      .name.chinese 李晓辉
      .title 普儿科专家 主任医师
    .line
      .name.pinyin Lixiaohui
    .line
      span.desc (原成都市儿童医院院长)
    .separator
    .tags
      span.tag 成都玛利亚医院妇产科专家
      span.tag 中华医学会会员
      span.tag 成都市知名妇产科专家
    .experience
      h4 主要履历:
      .content 从事妇产科临床工作30余年，具有丰富的临床经验和较强的临床操作技能。多次参见国内医学会议，并远赴美国、瑞士...
    .line.buttons
      button.btn.btn-primary 了解更多
      button.btn.btn-primary 在线咨询
.experts-list
  .scroll-wrapper
    .doctors.line
      .doctor
        img(src='/img/6.png')
        .desc
          .text-center 章卫
          .text-center 副主任医师
      .doctor
        img(src='/img/8.jpg')
        .desc
          .text-center 章卫
          .text-center 副主任医师
      .doctor
        img(src='/img/9.jpg')
        .desc
          .text-center 章卫
          .text-center 副主任医师
      .doctor
        img(src='/img/6.png')
        .desc
          .text-center 章卫
          .text-center 副主任医师
    .scroll-button.prev-button
    .scroll-button.next-button
