<div class="main-container">
  <div class="introduce-item maternity">
    <div class="image"></div>
    <div class="title">产科</div>
    <div class="info">无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉</div>
  </div>
  <div class="introduce-item gynaecology">
    <div class="image"></div>
    <div class="title">妇科</div>
    <div class="info">无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉</div>
  </div>
  <div class="introduce-item infertility">
    <div class="image"></div>
    <div class="title">不孕不育科</div>
    <div class="info">无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉</div>
  </div>
  <div class="introduce-item newborn">
    <div class="image"></div>
    <div class="title">新生儿科</div>
    <div class="info">无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉</div>
  </div>
</div>
