.main-container
  .introduce-item.maternity
    .image
    .title 产科
    .info 无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉
  .introduce-item.gynaecology
    .image
    .title 妇科
    .info 无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉
  .introduce-item.infertility
    .image
    .title 不孕不育科
    .info 无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉
  .introduce-item.newborn
    .image
    .title 新生儿科
    .info 无微不至的贴心服务，让你感受一次无与伦比的孕育体验，让分娩的记忆暖于心扉
