h3 医院新闻
a.pull-right.more-news(href='javascript:void(0)') MORE
.news-list
  .news-item.bigger
    img.image-preview( src="/img/logo.png")
    .specific
      a.title(href="#")
        h4 重磅消息！湖南电视台报道了玛利亚“水中分娩”
      .description 自8月份湖南电视台和重庆电视台大型真人秀节目xxxx播出后，xxx备受关注...
      button.btn.btn-primary 查看详情
  -for(var i = 0; i < 6; i++){
  .news-item
    a.title(href="#") 玛利亚给月嫂评“星” 打造全新“医疗护理型”
    span.date 2015-10-27
  -}
