h3 医院新闻
a.pull-right.more-news(href='javascript:void(0)') MORE
.news-list
  .news-item.bigger
    img.image-preview( src="/img/news.jpg")
    .specific
      a.title(href="#")
        h4 德阳锦江妇科医院于2015年10月17日正式试营业
      .description 自8月份湖南电视台和重庆电视台大型真人秀节目xxxx播出后，xxx备受关注...
      button.btn.btn-primary 查看详情
  -for(var i = 0; i < 6; i++){
  .news-item.normal
    a.title(href="#") 德阳锦江妇科医院于2015年10月17日正式试营业
    span.date 2015-10-27
  -}
