doctype html
html(lang='zh-cn')
  head
    meta(charset='UTF-8')
    title 高端设备
    link(rel='stylesheet', href='css/content/normalize.css')
    link(rel='stylesheet', href='css/content/content-page.css')
  body
    .container
      include common/header2
      block content
    include common/footer2
    script(type='text/javascript', src='javascript/jquery-1.11.1.min.js')
    script(type='text/javascript', src='javascript/common.js')
