<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>高端设备</title>
    <link rel="stylesheet" href="css/content/normalize.css">
    <link rel="stylesheet" href="css/content/content-page.css">
</head>
<body>
<div class="container">
<% include commom/header2.ejs %>
    <div class="main">
        <div class="inner-container">
            <div class="page-title">
                医院介绍 <span class="sub">MATERNITY CENTER</span>
            </div>

            <div class="content clearfix">
                <div class="left">
                    <div class="side-bar">
                        <div class="side-bar-head">
                            <div class="side-bar-head-title">
                                德阳锦江
                            </div>
                        </div>
                        <ul class="side-bar-links">
                            <li>
                                <a href="#">印象锦江</a>
                            </li>
                            <li>
                                <a href="#">院长致辞</a>
                            </li>
                            <li>
                                <a href="#">医院大事记</a>
                            </li>
                            <li>
                                <a href="#">医院环境</a>
                            </li>
                            <li class="active">
                                <a href="#">高端设备</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="right">
                    <div class="crumbs">
                        <a href="#">首页</a> >
                        <a href="#">医院介绍</a> >
                        高端设备
                    </div>
                    <div class="main-content">
                      <div class="img-slider">
                          <div class="img-item-container">
                              <img class="active" src="./img/产房.JPG"  alt="">
                              <img src="./img/护士站.JPG"  alt="">
                              <img src="./img/露天阳台.JPG"  alt="">
                              <img src="./img/输液大厅.JPG"  alt="">
                              <img src="./img/手术室.JPG"  alt="">
                              <img src="./img/医院大厅.JPG"  alt="">
                              <img src="./img/医生值班室.JPG"  alt="">
                              <img src="./img/孕妇病房1.JPG"  alt="">
                              <img src="./img/孕妇病房2.JPG"  alt="">
                              <img src="./img/孕妇瑜伽中心.JPG"  alt="">
                          </div>
                          <div class="current">
                              <img src="./img/产房.JPG" alt="">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include common/footer2.html %>
<script type="text/javascript" src="js/content/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/content/common.js"></script>
</body>
</html>
