extends content_layout

block content
    .main
      .inner-container
        .page-title
          | 医院介绍
          span.sub MATERNITY CENTER
        .content.clearfix
          .left
            .side-bar
              .side-bar-head
                .side-bar-head-title
                  | 德阳锦江
              ul.side-bar-links
                li
                  a(href='#') 印象锦江
                li
                  a(href='#') 院长致辞
                li
                  a(href='#') 医院大事记
                li
                  a(href='#') 医院环境
                li.active
                  a(href='#') 高端设备
          .right
            .crumbs
              a(href='#') 首页
              |  >
              a(href='#') 医院介绍
              |  >
              |                         高端设备
            .main-content
              .img-slider
                .img-item-container
                  img.active(src='./images/产房.JPG', alt='')
                  img(src='./images/护士站.JPG', alt='')
                  img(src='./images/露天阳台.JPG', alt='')
                  img(src='./images/输液大厅.JPG', alt='')
                  img(src='./images/手术室.JPG', alt='')
                  img(src='./images/医院大厅.JPG', alt='')
                  img(src='./images/医生值班室.JPG', alt='')
                  img(src='./images/孕妇病房1.JPG', alt='')
                  img(src='./images/孕妇病房2.JPG', alt='')
                  img(src='./images/孕妇瑜伽中心.JPG', alt='')
                .current
                  img(src='./images/产房.JPG', alt='')
