<div class="footer">

  <div class="footer-top">
    <div class="inner-container">
      <div class="logo">

      </div>
      <div class="links">
        <div class="link-group">
          <div class="link-head">
            医院介绍
          </div>
          <div class="link-container two-column">
            <div class="link-item">
              <a href="">印象锦江</a>
            </div>
            <div class="link-item">
              <a href="">高端设备</a>
            </div>
            <div class="link-item">
              <a href="">院长致辞</a>
            </div>
            <div class="link-item">
              <a href="">产科资讯</a>
            </div>
            <div class="link-item">
              <a href="">医院大事记</a>
            </div>
            <div class="link-item">
              <a href="">招贤纳士</a>
            </div>
            <div class="link-item">
              <a href="">医院环境</a>
            </div>
            <div class="link-item">
              <a href="">联系我们</a>
            </div>
          </div>
        </div>
        <div class="link-group">
          <div class="link-head">
            科室介绍
          </div>
          <div class="link-container ">
            <div class="link-item">
              <a href="">产科中心</a>
            </div>
            <div class="link-item">
              <a href="">妇科中心</a>
            </div>
            <div class="link-item">
              <a href="">不孕不育中心</a>
            </div>
            <div class="link-item">
              <a href="">新生儿中心</a>
            </div>
          </div>
        </div>
        <div class="link-group">
          <div class="link-head">
            医疗团队
          </div>
          <div class="link-container ">
            <div class="link-item">
              <a href="">产科医疗团队</a>
            </div>
            <div class="link-item">
              <a href="">妇科医疗团队</a>
            </div>
            <div class="link-item">
              <a href="">不孕不育医疗团队</a>
            </div>
            <div class="link-item">
              <a href="">新生儿科医疗团队</a>
            </div>
          </div>
        </div>
        <div class="link-group">
          <div class="link-head">
            特色服务
          </div>
          <div class="link-container ">
            <div class="link-item">
              <a href="">服务总览</a>
            </div>
            <div class="link-item">
              <a href="">服务特色</a>
            </div>
            <div class="link-item">
              <a href="">门诊指南</a>
            </div>
            <div class="link-item">
              <a href="">出入院指南</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="inner-container">
      <div class="content">
        <p>粤ICP备13068136号-1 Copyright2014 广州伊丽莎白妇产医院 版权所有</p>
        <p>医疗广告审查证明文号: （粤）医广【2015】第08-25-647号</p>
      </div>
    </div>
  </div>
</div>
