#footer
  .main-container.line
    img(src='/img/logo.png')
    .site-map
      ul
        li.header 医院介绍
        li
          a(href='#') 印象锦江
        li
          a(href='#') 院长致辞
        li
          a(href='#') 医院大事记
        li
          a(href='#') 医院环境
      ul
        li.header
          span
            br
        li
          a(href='#') 高端设备
        li
          a(href='#') 产科资讯
        li
          a(href='#') 招贤纳士
        li
          a(href='#') 联系我们
      ul
        li.header 科室介绍
        li
          a(href='#') 产科中心
        li
          a(href='#') 妇科中心
        li
          a(href='#') 不孕不育中心
        li
          a(href='#') 新生儿科中心
      ul
        li.header 医疗团队
        li
          a(href='#') 产科医疗团队
        li
          a(href='#') 妇科医疗团队
        li
          a(href='#') 不孕不育医疗团队
        li
          a(href='#') 新生儿科医疗团队
      ul
        li.header 特色服务
        li
          a(href='#') 服务总览
        li
          a(href='#') 服务特色
        li
          a(href='#') 门诊指南
        li
          a(href='#') 出入院指南
#copyright
  .main-container
      div 粤ICP备14252352号
      div 医疗广告
