<div id="footer">
  <div class="main-container line"><img src="/img/logo.png"/>
    <div class="site-map">
      <ul>
        <li class="header">医院介绍</li>
        <li><a href="#">印象锦江</a></li>
        <li><a href="#">院长致辞</a></li>
        <li><a href="#">医院大事记</a></li>
        <li><a href="#">医院环境</a></li>
      </ul>
      <ul>
        <li class="header"><span><br/></span></li>
        <li><a href="#">高端设备</a></li>
        <li><a href="#">产科资讯</a></li>
        <li><a href="#">招贤纳士</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
      <ul>
        <li class="header">科室介绍</li>
        <li><a href="#">产科中心</a></li>
        <li><a href="#">妇科中心</a></li>
        <li><a href="#">不孕不育中心</a></li>
        <li><a href="#">新生儿科中心</a></li>
      </ul>
      <ul>
        <li class="header">医疗团队</li>
        <li><a href="#">产科医疗团队</a></li>
        <li><a href="#">妇科医疗团队</a></li>
        <li><a href="#">不孕不育医疗团队</a></li>
        <li><a href="#">新生儿科医疗团队</a></li>
      </ul>
      <ul>
        <li class="header">特色服务</li>
        <li><a href="#">服务总览</a></li>
        <li><a href="#">服务特色</a></li>
        <li><a href="#">门诊指南</a></li>
        <li><a href="#">出入院指南</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="copyright">
  <div class="main-container">
    <div>蜀ICP备16001927号</div>
    <div>医疗广告</div>
  </div>
</div>
