.footer
  .footer-top
    .inner-container
      .logo
      .links
        .link-group
          .link-head
            | 医院介绍
          .link-container.two-column
            .link-item
              a(href='') 印象锦江
            .link-item
              a(href='') 高端设备
            .link-item
              a(href='') 院长致辞
            .link-item
              a(href='') 产科资讯
            .link-item
              a(href='') 医院大事记
            .link-item
              a(href='') 招贤纳士
            .link-item
              a(href='') 医院环境
            .link-item
              a(href='') 联系我们
        .link-group
          .link-head
            | 科室介绍
          .link-container
            .link-item
              a(href='') 产科中心
            .link-item
              a(href='') 妇科中心
            .link-item
              a(href='') 不孕不育中心
            .link-item
              a(href='') 新生儿中心
        .link-group
          .link-head
            | 医疗团队
          .link-container
            .link-item
              a(href='') 产科医疗团队
            .link-item
              a(href='') 妇科医疗团队
            .link-item
              a(href='') 不孕不育医疗团队
            .link-item
              a(href='') 新生儿科医疗团队
        .link-group
          .link-head
            | 特色服务
          .link-container
            .link-item
              a(href='') 服务总览
            .link-item
              a(href='') 服务特色
            .link-item
              a(href='') 门诊指南
            .link-item
              a(href='') 出入院指南
  .footer-bottom
    .inner-container
      .content
        p 粤ICP备13068136号-1 Copyright2014 广州伊丽莎白妇产医院 版权所有
        p 医疗广告审查证明文号: （粤）医广【2015】第08-25-647号
