<div id="header">
  <div class="main-container"><img src="/img/logo.png"/><img src="/img/contact.png" class="pull-right"/></div>
</div>
<div id="nav">
  <ul class="navigation">
    <li><a href="/" class="navigation-item">首页</a></li>
    <li>
      <div class="expand"><a href="javascript:void(0)" expand-target="#hospital-intro" class="navigation-item expand-title">医院介绍</a>
        <div id="hospital-intro" class="expand-menu hide">
          <a href="#">印象锦江</a>
          <a href="#">院长致辞</a>
          <a href="#">医院大事记</a>
          <a href="#">医院环境</a>
          <a href="#">高端设备</a>
          <a href="#">产科资讯</a>
          <a href="#">新闻资讯</a>
        </div>
      </div>
    </li>
    <li>
      <div class="expand"><a href="javascript:void(0)" expand-target="#hospital-dept" class="navigation-item expand-title">科室设置</a>
        <div id="hospital-dept" class="expand-menu hide"><a href="#">产科中心</a><a href="#">妇科中心</a><a href="#">不孕不育中心</a><a href="#">新生儿科中心</a><a href="#">计划生育中心</a></div>
      </div>
    </li>
    <li>
      <div class="expand"><a href="javascript:void(0)" expand-target="#hospital-team" class="navigation-item expand-title">医疗团队</a>
        <div id="hospital-team" class="expand-menu hide"><a href="#">产科医疗团队</a><a href="#">妇科医疗团队</a><a href="#">不孕不育医疗团队</a><a href="#">新生儿科医疗团队</a><a href="#">计划生育医疗团队</a></div>
      </div>
    </li>
    <li>
      <div class="expand"><a href="javascript:void(0)" expand-target="#hospital-special" class="navigation-item expand-title">特色服务</a>
        <div id="hospital-special" class="expand-menu hide"><a href="#">服务总览</a><a href="#">服务特色</a><a href="#">出诊指南</a><a href="#">出入院指南</a></div>
      </div>
    </li>
    <li><a href="javascript:void(0)" expand-target="#hospital-cases" class="navigation-item expand-title">经典案例</a></li>
    <li>
      <div class="expand"><a href="javascript:void(0)" expand-target="#hospital-contact" class="navigation-item expand-title">联系我们</a>
        <div id="hospital-contact" class="expand-menu hide"><a href="#">电话地址</a><a href="#">招贤纳士</a><a href="#">微信公众号</a></div>
      </div>
    </li>
  </ul>
</div>
