<div class="header">
  <div class="logo-area">
    <div class="inner-container">
      <div class="logo"></div>
      <div class="contact"></div>
    </div>
  </div>
  <div class="nav">
    <div class="inner-container">
      <ul>
        <li><a href="#"> 首页</a></li>
        <li class="active"><a href="#">医院介绍</a></li>
        <li><a href="#">科室介绍</a></li>
        <li><a href="#">医疗团队</a></li>
        <li><a href="#">特色服务</a></li>
        <li><a href="#">经典案例</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
