.header
  .logo-area
    .inner-container
      .logo
      .contact
  .nav
    .inner-container
      ul
        li
          a(href='#')  首页
        li.active
          a(href='#') 医院介绍
        li
          a(href='#') 科室介绍
        li
          a(href='#') 医疗团队
        li
          a(href='#') 特色服务
        li
          a(href='#') 经典案例
        li
          a(href='#') 联系我们
