<div class="side-bar">
  <div class="side-bar-head">
    <div class="side-bar-head-title">
      德阳锦江
    </div>
  </div>
  <ul class="side-bar-links">
    <li <% if (subNav == 'chankejieshao') {%>class="active"<%}%> >
      <a href="/category/keshijieshao/chankejieshao">产科介绍</a>
    </li>
    <li <% if (subNav == 'yunqianfuwu') {%>class="active"<%}%> >
      <a href="/category/keshijieshao/yunqianfuwu">孕前服务</a>
    </li>
    <li <% if (subNav == 'yunqifuwu') {%>class="active"<%}%> >
      <a href="/category/keshijieshao/yunqifuwu">孕期服务</a>
    </li>
    <li <% if (subNav == 'chanshifuwu') {%>class="active"<%}%> >
      <a href="/category/keshijieshao/chanshifuwu">产时服务</a>
    </li>
    <li <% if (subNav == 'chanhoufuwu') {%>class="active"<%}%> >
      <a href="/category/keshijieshao/chanhoufuwu">产后服务</a>
    </li>
  </ul>
</div>
