<div class="side-bar">
  <div class="side-bar-head">
    <div class="side-bar-head-title">
      德阳锦江
    </div>
  </div>
  <ul class="side-bar-links">
    <li <% if (subNav == 'yinxiangjinjiang') {%>class="active"<%}%> >
      <a href="/category/yiyuanjieshao/yinxiangjinjiang">印象锦江</a>
    </li>
    <li <% if (subNav == 'yuanzhangzhici') {%>class="active"<%}%> >
      <a href="/category/yiyuanjieshao/yuanzhangzhici">院长致辞</a>
    </li>
    <li <% if (subNav == 'yiyuandashiji') {%>class="active"<%}%> >
      <a href="/category/yiyuanjieshao/yiyuandashiji">医院大事记</a>
    </li>
    <li <% if (subNav == 'yiyuanhuanjing') {%>class="active"<%}%> >
      <a href="/category/yiyuanjieshao/yiyuanhuanjing">医院环境</a>
    </li>
    <li <% if (subNav == 'gaoduanshebei') {%>class="active"<%}%> >
      <a href="/category/yiyuanjieshao/gaoduanshebei">高端设备</a>
    </li>
  </ul>
</div>
